<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.e-Vote : Your Voice Matters</title>
    <!----======== CSS ======== -->
    <!-- <link rel="stylesheet" href="css/party_editProfile.css"> -->
    <link rel="stylesheet" href="css/party_editProfile.css">

    <!-- <link rel="stylesheet" type="text/css" href="/bootstrap.css"/> -->

    <!-- font style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>

    <!-- fontawsome css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <link rel="shortcut icon" type="x-icon" href="img/logo.png">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

    <title>.e-Vote : Your Voice Matters</title> 
</head>
<body>
    <header class="header_section">
        <a class="navbar-brand" href="party_editProfile">
            <span>
            .e-Vote 
            </span>
        </a>
      </header>
      <!-- end header section -->

<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav> -->
          <!-- /Breadcrumb -->
          <!-- <% if (users !=null) { %> -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body1">
                  <div class="d-flex flex-column align-items-center text-center">
                    <!-- <%  var dataUrl="data:image/jpeg;base64,"+btoa(users.party_logo); %> -->
                    <img src=<%= dataUrl %> alt="party_logo" width="200">
                    <div class="mt-3" id="imgPlace">
                      <h4><%= users.party_name %></h4>
                      <!-- <p class="text-secondary mb-1">VoterId : <%= users.party_name %></p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

             
              <div class="col-lg-8" >
                <div class="card" id="infoPlace">
                    <div class="card-body">
                      <form action="/update_partyProfile" method="post" id="pe">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Leader's Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" name="name" class="form-control" maxsize="100" id ="name" value="<%= users.leader_name %>">
                                <small class="small">Error message</small>
                              </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Age</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" name="age" class="form-control" id="age" value=<%= users.leader_age %>>
                                <small class="small">Error message</small>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Members Count</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" name="mcnt" class="form-control" id="mcnt" value=<%= users.members_count %>>
                                <small class="small">Error message</small>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">E-mail</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" name="email" class="form-control" id="email" value= <%= users.party_email %>>
                                <small class="small">Error message</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 text-secondary">
                                <input type="button" id="sub" class="btn btn-primary px-4" onclick="submitForm()" value="Save Changes">
                            </div>
                        </div>
                      </form>

                    </div>
                </div>

              </div>
             <!-- </form> -->
            </div>
          </div>
          <!-- <% }%> -->
        </div>
    </div>
    <!-- <% if (msg == 'Profile Successfully Updated') { %> -->
      <div id="myModal" class="modal1" >
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close1" id="close1">&times;</span>
          <p class="msg"><%= msg %><br><br>
            <a href="/partyDashboard"><input type="button" value="OK" class="ok" id="ok" name="ok"></a></p>
        </div>
      </div>
        <!-- <% } else {%> -->
          <div id="myModal" class="modal" >
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close1" id="close1">&times;</span>
              <p class="msg"><br><br>
              <a href="/VoterLogin"><input type="button" value="OK" id="ok" name="ok"></a></p>
              <!-- <button id="ok" name="ok" onclick="location.href='Partylogin'">OK</button> -->
            </div>
          </div>
          <!-- <% } %> -->
</body>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="text/javascript" src="js/party_editProfile.js"></script>    
<!-- <script type="text/javascript" src="js/party_editProfile.js"></script>     -->
</html>